<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Fights</title>      
</head>
<body>

<h1>Fights</h1>
      <%if(matches.length==0) {%>
      <p>No matches</p>
      <%}else{%>
      <ul>
        <%matches.forEach((match) =>{%>
          <li><a href="http://localhost:3000/fights/match/<%=match.id%>"><%= match.athlete_red+" VS "+match.athlete_blue%></a></li> <%})%>
      </ul>
      <%}%>
</body>
</html>
