<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tournaments_style.css"> 
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Poppins:wght@600;700&family=Space+Mono&display=swap" rel="stylesheet">
    <title>PUNTO ÓPTIMO | Categorías</title>      
</head>
<body>

    <header class="site-header">
        <div class="container">
            <a href="/" class="logo">PUNTO ÓPTIMO</a>
            <nav class="main-nav">
                <ul>
                    <li><a href="/athletes">LUCHADORES</a></li>
                    <li><a href="/tournaments" class="active">EVENTOS</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="categories-list" class="tournaments-section">
            <div class="container">
                <h1 class="section-heading">CATEGORÍAS DEL TORNEO</h1> 
                
                <% if (categories.length === 0) { %>
                    <div class="no-results-card">
                        <p class="text-center">No se encontraron categorías para este torneo.</p>
                        <p class="text-center small-text">Por favor, vuelve a consultar más tarde o selecciona otro evento.</p>
                    </div>
                <% } else { %>
                    <ul class="tournament-cards-grid"> 
                        <% categories.forEach((category) => { %>
                            <li class="tournament-card"> 
                                <a href="http://localhost:3000/fights/categories/<%= category.id %>">
                                    <h2 class="card-title">
                                        <%="-"+category.weight %>kg>
                                    </h2>
                                    <p class="card-location">
                                        <%= category.sex %>
                                    </p>
                                    <span class="view-details-link">Ver Combates &raquo;</span>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <p>&copy; 2025 PUNTO ÓPTIMO. Todos los derechos reservados.</p>
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Términos de Servicio</a></li>
                </ul>
            </nav>
        </div>
    </footer>

</body>
</html>
